.note.head {
  background: none;
  border: none;
  overflow: hidden;
  width: 500px;
  height: 181px;
  line-height: 18px;
  letter-spacing: 0.3px;
  font-size: 17px;
  color: #8bc34a;
  font-weight: bold;
  margin-bottom: -8px;
  resize: none;
}
.note.info {
  color: #291dda;
}
